@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400 !important;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

nav ul li {
  display: inline-block;
  margin: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #fff !important;
}

main {
  padding: 20px;
  margin: 20px;
  background-color: #fff;
}

h2 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

footer div {
  display: flex;
  flex-direction: column;
}

.img-div {
  align-items: center;
  justify-content: center;
  text-align: center;
  size: 100px;
}

.main-wrap {
  width: 100%;
  margin: 10px auto;
  border: 1px solid #000;
  position: relative;
}

.main-img {
  width: 100%;
  vertical-align: middle;
}

.sdl-calendar {
  width: 75vw;
  margin-top: 20px;
  border: #000 1px solid;
}

.month-info {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

main div div a {
  margin-right: 10px;
  cursor: pointer;
  color: grey;
}
main div div a:hover {
  color: #000 !important;
}

footer i {
  margin: 10px;
  font-size: 150%;

  display: flex;
  cursor: pointer;
}

#class-main {
  height: 100px;
  cursor: pointer;
}

.ot-img {
  width: 200px;
  float: left;
  border-radius: 10px;
  border: #000 1px solid;
}

.ot-class {
  flex-direction: row;
  white-space: nowrap;
  cursor: pointer;
}

.ot-h4 {
  margin-top: -5px;
}

#back {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  cursor: pointer;
  font-size: 40px;
}

@media (prefers-color-scheme: light) {
  body {
    background: #fff;
    color: #000;
  }
  footer {
    color: #fff;
  }
}
@media (prefers-color-scheme: dark) {
  * {
    background: #121212 !important;
  }
  hr {
    color: #fff;
  }
  body {
    background: #121212;
    color: #fff;
  }
  #class-main {
    background: #121212;
  }
  footer {
    color: #fff;
    background: #121212 !important;
  }
  svg {
    color: #fff !important;
  }
}
@media (max-width: 375px) {
  footer {
    width: 47.8vh !important;
  }
  header {
    width: 45vh !important;
  }
  hr {
    width: 50vh;
  }
  main {
    width: 41vh;
  }
}
@media (max-width: 1440px) {
  svg {
    width: 2vh !important;
  }
}
